<form method="POST" action="/posts/<%= @post.id %>">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="title" value ="<%=@post.title%>">
  <input type="text" name="link" value = "<%=@post.link%>">
  <input type="submit" value="update">
</form>
