<form method="POST" action="/comments" id="new-comment-form">
  <input type="text" name="text" placeholder="title">
  <input type="submit" value="submit">
  </form>

<%@post.comments.each do |comment|%>
<br><%=comment.text%><br>
<a href="/users/<%=comment.user.id%>"><%=comment.user.username%></a>  <%=comment.created_at%><br>
<%end%>
